<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />

    {% if config.generate_feed %} <link rel="alternate" type={% if
    config.feed_filename == "atom.xml" %}"application/atom+xml"{% else
    %}"application/rss+xml"{% endif %} title="RSS" href="{{
    get_url(path=config.feed_filename) | safe }}"> {% endif %}

    <title>~{% block title %}{% endblock title %}</title>

    {% block css %} <link rel="stylesheet" href="{{ get_url(path="site.css",
    trailing_slash=false) | safe }}" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css"
    />
    {% endblock css %}
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
